<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
						http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
					    http://www.springframework.org/schema/tx 
    					http://www.springframework.org/schema/tx/spring-tx-4.1.xsd
    					http://www.springframework.org/schema/aop
    					http://www.springframework.org/schema/aop/spring-aop-4.1.xsd
    					http://www.springframework.org/schema/jee
					    http://www.springframework.org/schema/jee/spring-jee-4.1.xsd
					    http://www.springframework.org/schema/data/jpa
     					http://www.springframework.org/schema/data/jpa/spring-jpa.xsd">

	<!-- <jee:jndi-lookup id="dataSource" jndi-name="BUBBLE_DB"></jee:jndi-lookup> -->

	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="com.mysql.jdbc.Driver" />
		<property name="jdbcUrl" value="jdbc:mysql://127.0.0.1:3306/bubble" />
		<property name="user" value="bubble" />
		<property name="password" value="bubble" />
		<property name="autoCommitOnClose" value="true" />
		<property name="checkoutTimeout" value="5000" />
		<property name="initialPoolSize" value="20" />
		<property name="minPoolSize" value="20" />
		<property name="maxPoolSize" value="60" />
		<property name="maxIdleTime" value="25200" />
		<property name="acquireIncrement" value="5" />
	</bean>

	<tx:annotation-driven transaction-manager="transactionManager" />

	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"></property>
	</bean>
</beans>