<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
	<property resource="config/log/logback.properties"></property>
	<appender name="FRAMEWORK_FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${logfile.home}/logs/${logfile.name}_framework.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>
				${logfile.home}/logs/backup/${logfile.name}_framework-%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>104857600</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
			<MaxHistory>10</MaxHistory>
		</rollingPolicy>
		<encoder>
			<!-- <pattern>%date %level [%thread] %replace(%replace(%caller{1}){'Caller\+0[\s]+at',''}){'\n',''} %msg%n</pattern> -->
			<pattern>%date %level [%thread] %logger{100} [%file : %line] %msg%n</pattern>
			<charset class="java.nio.charset.Charset">UTF-8</charset>
		</encoder>
	</appender>

	<appender name="BUBBLE_FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${logfile.home}/logs/${logfile.name}.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>
				${logfile.home}/logs/backup/${logfile.name}-%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>104857600</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
			<MaxHistory>10</MaxHistory>
		</rollingPolicy>
		<encoder>
			<!-- <pattern>%date %level [%thread] %replace(%replace(%caller{1}){'Caller\+0[\s]+at',''}){'\n',''} %msg%n</pattern> -->
			<pattern>%date %level [%thread] %logger{100} [%file : %line] %msg%n</pattern>
			<charset class="java.nio.charset.Charset">UTF-8</charset>
		</encoder>
	</appender>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<append>true</append>
		<encoder>
			<!-- <pattern>%date %level [%thread] %replace(%replace(%caller{1}){'Caller\+0[\s]+at',''}){'\n',''} %msg%n</pattern> -->
			<pattern>%date %level [%thread] %logger{100} [%file : %line] %msg%n</pattern>
			<charset class="java.nio.charset.Charset">UTF-8</charset>
		</encoder>
	</appender>

	<logger name="net.bubble" additivity="false">
		<level value="INFO" />
		<appender-ref ref="BUBBLE_FILE" />
	</logger>

	<logger name="java.sql" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="BUBBLE_FILE" />
	</logger>
	
	<root>
		<level value="INFO" />
		<appender-ref ref="FRAMEWORK_FILE" />
	</root>
</configuration>