<?xml version="1.0" encoding="UTF-8"?>
<javaee:web-app version="2.5"
	xmlns:javaee="http://java.sun.com/xml/ns/javaee" xmlns:xml="http://www.w3.org/XML/1998/namespace"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_2_5.xsd ">
	<javaee:display-name>bubble</javaee:display-name>
	<javaee:description>a j2ee program</javaee:description>
	<javaee:welcome-file-list>
		<javaee:welcome-file>index.html</javaee:welcome-file>
		<javaee:welcome-file>index.jsp</javaee:welcome-file>
		<javaee:welcome-file>index.html</javaee:welcome-file>
	</javaee:welcome-file-list>
</javaee:web-app>
